openapi: 3.1.0
info:
  title: DHL Location Finder Unified Find By Address Find By Keyword Id API
  description: The DHL Location Finder Unified API provides search of DHL Service Points across DHL divisions by address, geographic coordinates, location ID, and keyword ID.
  version: '1'
servers:
- url: https://api.dhl.com/location-finder/v1
  description: DHL Location Finder Unified API
security:
- apiKey: []
tags:
- name: Find By Keyword Id
paths:
  /find-by-keyword-id/{keywordId}:
    get:
      summary: Find Service Points by keyword ID
      operationId: findByKeywordId
      parameters:
      - name: keywordId
        in: path
        required: true
        schema:
          type: string
      - name: countryCode
        in: query
        required: true
        schema:
          type: string
      - name: postalCode
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Service Point list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePointList'
      tags:
      - Find By Keyword Id
components:
  schemas:
    ServicePoint:
      type: object
      additionalProperties: true
      properties:
        url:
          type: string
        location:
          type: object
          additionalProperties: true
        name:
          type: string
        place:
          type: object
          additionalProperties: true
    ServicePointList:
      type: object
      additionalProperties: true
      properties:
        url:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ServicePoint'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: DHL-API-Key
x-generated-from: https://developer.dhl.com/api-reference/location-finder-unified
x-generated-by: claude-crawl-2026-05-08
